
.accent {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
}
.accent:hover {
  transform: scale(1.2);
}
.accent img {
width: 130%;
}
@media screen and (max-width:1023px) {
  .accent1 {
position: absolute;
top: 35%;
left: 18%;
width: /* 63px */16.15vw;
height: /* 68px */17.43vw;
}
.accent2 {
  position: absolute;
  top: 41%;
  left: 0;
  width: /* 122px */31.28vw;
  height: /* 132px */33.84vw;
}
.accent3 {
  position: absolute;
  bottom: -3%;
  right: 0;
  width:/* 113px */28.97vw;
  height: /* 123px */31.53vw;
}
.accent4 {
  position: absolute;
  top:30%;
  left: 12%;
  width: /* 64px */16.41vw;
  height: /* 64px */16.41vw;
}
.accent5 {
  position: absolute;
  bottom: 5%;
  left: 3%;
  width: /* 66px */16.92vw;
  height: /* 66px */16.92vw;
}
.accent6 {
  display: none;
}
.accent7 {
  display: none;
}
.accent8 {
  display: none;
}
.accent9 {
  display: none;
}
}
@media screen and (min-width:1024px) {
.accent1 {
  display: none;
}
.accent2 {
  display: none;
}
.accent3 {
  display: none;
}
.accent4 {
  display: none;
}
.accent5 {
  display: none;
}
.accent6 {
  position: absolute;
  bottom: 10%;
  left: 55%;
  width: /* 144px */9.47vw;
  height: /* 156px */10.26vw;
}
.accent7 {
  position: absolute;
  bottom: -5%;
  left: 40%;
  width: /* 289px */19.01vw;
  height: /* 314px */20.65vw;
}
.accent8 {
  position: absolute;
  top: 25%;
  right: 10%;
  width: /* 131px */8.61vw;
  height: /* 143px */9.40vw;
}
.accent9 {
  position: absolute;
  top: 15%;
  right: 0;
  width: /* 135px */8.88vw;
  height: /* 135px */8.88vw;
}
}