html {
	scroll-behavior: smooth;
	width: 100%;
	height: auto;
	min-height: 100%;
	font-size: 16px;
}

body {
	font-family: "Stolzl", sans-serif;
	color: var(--color-text);
	background: var(--color-bg);
	background-image: url(../images/body/pattern_circle.webp);
	opacity: 1;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100dvh;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
@media screen and (max-width: 1023px) {
	body::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/body/rectangle.webp),
			url(../images/hero/dino-mob.webp), url(../images/body/spooky.webp),
			url(../images/body/Ellipse_mob_center.webp),
			url(../images/body/Ellipse_mob_right.webp),
			url(../images/body/Ellipse_mob_left.webp);
		opacity: 1;
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
			no-repeat;
		background-size: contain, /* 400px 350px */90.5vw 82.74vw, cover, cover, cover, contain;
		background-position: top 75% center, right center, right center, center,
			center right, bottom left;
	}
	/* 	body::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image:url(../images/body/rectangle.webp), url(../images/hero/dino_group.webp),
			url(../images/body/spooky.webp),
			url(../images/body/Ellipse_mob_center.webp),
			url(../images/body/Ellipse_mob_right.webp),
			url(../images/body/Ellipse_mob_left.webp);
		opacity: 1;
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
		background-size:contain, contain, cover, cover, cover, contain;
		background-position:top 80% center, top 50% right -150px, right center, center,
			center right, bottom left;
	} */
}
@media screen and (min-width: 1024px) {
	body::after {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 2;
		background-image: url(../images/hero/dino_desk.webp),
			url(../images/body/spooky.webp), url(../images/body/Ellipse_desk.webp),
			url(../images/body/Ellipse-1_desk.webp);
		opacity: 1;
		background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
		background-size: /* 880px 800px */70.89vw 58.63vw, cover, cover, contain;
		background-position: bottom 2% right, bottom 80% right, bottom left,
			bottom right;
	}
}

.container {
	position: relative;
	width: 100%;
	min-height: 100dvh;
	overflow: hidden;
	z-index: 10;
	margin: 0 auto;
}
