.button {
	width: /* 342px */87.69vw;
	height: /* 56px */14.35vw;
	border: 2px solid rgba(255, 255, 255, 0.16);
	border-radius: /* 16px */4.10vw;

	background: var(--color-bg-btn);
	font-weight: 400;
	font-size: /* 18px */4.61vw;
	line-height: /* 24px */6.15vw;
	color: var(--color-text);
	cursor: pointer;
	/* text-transform: uppercase; */
	display: flex;
	gap: /* 20px */5.12vw;
	align-items: center;
	justify-content: center;
}
.button-prime {
	margin-bottom: /* 26px */6.66vw;
	animation: pulse 2.5s ease-in-out infinite;
	transition: transform 0.2s;
}
.button-img {
	width: /* 24px */6.15vw;
	height: /* 24px */6.15vw;
	animation: flipSpin 2s ease-in-out infinite;
	transform-style: preserve-3d;
}
@media screen and (min-width: 1024px) {
	.button-prime {
		font-size: /* 24px */1.57vw;
		line-height: /* 24px */1.57vw;
		width: /* 532px */35vw;
		height: /* 64px */4.21vw;
		border-radius: /* 16px */1.05vw;
		gap: /* 20px */1.31vw;
		margin-bottom: /* 50px */3.28vw;
	}
	.button-img {
		width: /* 32px */2.11vw;
		height: /* 32px */2.11vw;
	}
}

@keyframes flipSpin {
	0% {
		transform: scale(1) rotateY(0deg);
	}
	50% {
		transform: scale(1.2) rotateY(180deg);
	}
	100% {
		transform: scale(1) rotateY(360deg);
	}
}
@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(212, 12, 12, 0.7);
	}
	50% {
		transform: scale(1.05);
		box-shadow: 0 0 0 10px rgba(212, 12, 12, 0);
	}
	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(212, 12, 12, 0);
	}
}


