.hero {
	position: relative;
	width: 100%;
	max-width: 1520px;
	padding: 24px;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: 0 auto;
	z-index: 10;
}

@media screen and (min-width: 1024px) {
	.hero {
		position: relative;
		width: 100%;
		max-width: 1520px;
		height: 1226px;
		padding-left: 160px;
		padding-top: 60px;
		padding-right: 160px;
		padding-bottom: 60px;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}
}

.title {
	position: relative;
	z-index: 10;
	width: 342px;
	height: 120px;
	background: transparent;
	background-image: url(../images/hero/title.webp);
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center -80px;
	overflow: hidden;
	margin-bottom: 95px;
}

.timer {
	width: 256px;
	height: 80px;
	margin-bottom: 33px;
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
}

.time-part {
	font-family: "KodeMono";
	font-weight: 700;
	font-style: normal;
	font-size: 58px;
	line-height: 120px;
	color: var(--color-text);
}
#hundredths {
	color: rgba(255, 107, 149, 1);
}

.colon {
	width: 8px;
	height: 40px;
}

.focus {
	width: 342px;
	height: 90px;
	margin-bottom: 18px;
	background-image: url(../images/hero/focus_2.webp);
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: pulse 1.5s ease-in-out infinite;
	transition: transform 0.2s;
}

.focus_text {
	font-family: inherit;
	font-weight: 700;
	font-style: normal;
	font-size: 34px;
	line-height: 34px;
	text-transform: uppercase;
	color: transparent;
	background: linear-gradient(
		to bottom right,
		rgba(255, 255, 255, 1),
		rgba(81, 69, 117, 0.5)
	);
	-webkit-background-clip: text;
	background-clip: text;
	text-shadow: 0 0 1px white, 0 0 4px rgba(255, 255, 255, 0.8),
		0 0 8px rgba(81, 69, 117, 0.5), 0 0 16px rgba(81, 69, 117, 0.6);
	text-align: center;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@media screen and (min-width: 1024px) {
	.title {
		width: 618px;
		height: 198px;
		background-position: center -145px;
		margin-bottom: 188px;
	}
	.timer {
		width: 438px;
		height: 96px;
		margin-bottom: 54px;
		gap: 12px;
	}
	.time-part {
		font-size: 84px;
	}
	.colon {
		width: 10px;
		height: 50px;
	}
	.focus {
		width: 542px;
		height: 142px;
		margin-bottom: 36px;
	}
	.focus_text {
		font-size: 52px;
	}
}

.lang-HU [data-translate="bonus"],
.lang-RU [data-translate="bonus"],
.lang-PT [data-translate="bonus"],
.lang-TR [data-translate="bonus"] {
	font-size: 26px;
	line-height: 1.1;
}
@media screen and (min-width: 1024px) {
	.lang-HU [data-translate="bonus"],
	.lang-PT [data-translate="bonus"],
	.lang-TR [data-translate="bonus"] {
		font-size: 40px;
		line-height: 1.1;
	}
	.lang-RU [data-translate="bonus"] {
		font-size: 48px;
		line-height: 48px;
	}
}
