.hero {
	position: relative;
	width: 100%;
	max-width: 1520px;
	padding: 24px;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: 0 auto;
	z-index: 10;
}

@media screen and (min-width: 1024px) {
	.hero {
		position: relative;
		width: 100%;
		max-width: 1520px;
		height: 1226px;
		padding-left: 160px;
		padding-top: 60px;
		padding-right: 160px;
		padding-bottom: 60px;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
	}
}

.title {
	font-family: inherit;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	line-height: 96%;
	text-align: center;
	text-transform: uppercase;
	background: radial-gradient(
		56.41% 112.81% at 50% 0%,
		#ff6b95 0%,
		#e8353e 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* Для Firefox */
	background-clip: text;
	color: transparent;
	margin-bottom: 10px;
}

.text {
	font-family: Stolzl;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 225px;
}
.subtext {
	font-weight: 400;
}

.timer {
	width: 256px;
	height: 80px;
	margin-bottom: 33px;
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.time-part {
	font-family: "SpaceGrotesk";
	font-weight: 700;
	font-style: normal;
	font-size: 42px;
	line-height: 120px;
	color: var(--color-text);
	font-feature-settings: "tnum";
	font-variant-numeric: tabular-nums;
}
#seconds {
	color: rgba(255, 107, 149, 1);
}

.colon {
	width: 8px;
	height: 40px;
}

.text-discription {
font-weight: 700;
font-style: normal;
font-size: 18px;
line-height: 110%;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.text-discription-second {
	font-weight: 400;
}

.text-discription-data {
	background: radial-gradient(
		56.41% 112.81% at 50% 0%,
		#ff6b95 0%,
		#e8353e 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* Для Firefox */
	background-clip: text;
	color: transparent;
}

@media screen and (min-width: 1024px) {
	.title {
	}
	.timer {
		width: 438px;
		height: 96px;
		margin-bottom: 54px;
		gap: 12px;
	}
	.time-part {
		font-size: 84px;
	}
	.colon {
		width: 10px;
		height: 50px;
	}
	.focus {
		width: 542px;
		height: 142px;
		margin-bottom: 36px;
	}
	.focus_text {
		font-size: 52px;
	}
}

.lang-HU [data-translate="bonus"],
.lang-RU [data-translate="bonus"],
.lang-PT [data-translate="bonus"],
.lang-TR [data-translate="bonus"] {
	font-size: 26px;
	line-height: 1.1;
}
@media screen and (min-width: 1024px) {
	.lang-HU [data-translate="bonus"],
	.lang-PT [data-translate="bonus"],
	.lang-TR [data-translate="bonus"] {
		font-size: 40px;
		line-height: 1.1;
	}
	.lang-RU [data-translate="bonus"] {
		font-size: 48px;
		line-height: 48px;
	}
}
