.hero {
	position: relative;
	width: 100%;
	max-width: 1520px;
	min-height: 100dvh;
	padding-left: 24px;
	padding-top: 24px;
	padding-right: 24px;
	padding-bottom: 0;
	z-index: 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;
	margin: 0 auto;
	z-index: 10;
}

@media screen and (min-width: 1024px) {
	.hero {
		position: relative;
		width: 100%;
		max-width: 1520px;
		padding-left: 160px;
		padding-top: 60px;
		padding-right: 160px;
		padding-bottom: 60px;
		z-index: 3;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: start;
	}
}

.title-mob {
	font-family: inherit;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	line-height: 96%;
	text-align: center;
	text-transform: uppercase;
	background: radial-gradient(
		56.41% 112.81% at 50% 0%,
		#ff6b95 0%,
		#e8353e 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* Для Firefox */
	background-clip: text;
	color: transparent;
	margin-bottom: 10px;
}

.title-mob-accent {
	display: flex;
	gap: 10px;
	justify-content: baseline;
	align-items: baseline;
}
.title-icon {
	width: 20px;
	height: 21px;
}
.title-desk {
	display: none;
}

.text {
	font-family: Stolzl;
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 200px;
}
.subtext {
	font-weight: 400;
}

.timer-wrap {
	position: relative;
	z-index: 10;
	width: 276px;
	height: 150px;
	background-image: url(../images/hero/timerBG.webp);
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.timer {
	width: 256px;
	height: 80px;
	margin-bottom: 33px;
	display: flex;
	gap: 4px;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.time-part {
	font-family: "SpaceGrotesk";
	font-weight: 700;
	font-style: normal;
	font-size: 42px;
	line-height: 120px;
	color: var(--color-text);
	font-feature-settings: "tnum";
	font-variant-numeric: tabular-nums;
}
#seconds {
	color: rgba(255, 107, 149, 1);
}

.colon {
	width: 5px;
	height: 25px;
}

.text-discription {
	font-weight: 700;
	font-style: normal;
	font-size: 18px;
	line-height: 110%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 28px;
}

.text-discription-second {
	font-weight: 400;
}

.text-discription-data {
	background: radial-gradient(
		56.41% 112.81% at 50% 0%,
		#ff6b95 0%,
		#e8353e 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* Для Firefox */
	background-clip: text;
	color: transparent;
}

@media screen and (min-width: 1024px) {
	.title-mob {
		display: none;
	}
	.title-desk {
		font-weight: 700;
		font-style: normal;
		font-size: 58px;
		line-height: 96%;
		text-transform: uppercase;
		background: radial-gradient(
			56.41% 112.81% at 50% 0%,
			#ff6b95 0%,
			#e8353e 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		/* Для Firefox */
		background-clip: text;
		color: transparent;
		display: flex;
		justify-content: baseline;
		align-items: center;
	}
	.title-desk-icon {
		width: 93px;
		height: 93px;
	}
	.title-desk-text {
		display: flex;
		flex-direction: column;
	}
	.text {
		font-weight: 400;
		font-size: 37px;
		align-items: flex-start;
		margin-bottom: 40px;
	}
	.timer-wrap {
		width: 446px;
		height: 250px;
		margin-bottom: 20px;
	}
	.timer {
		width: 403px;
		height: 96px;
		gap: 12px;
	}
	.time-part {
		font-size: 66px;
	}
	.colon {
		width: 8px;
		height: 38px;
	}
	.text-discription {
		font-size: 46px;
		align-items: flex-start;
		margin-bottom: 189px;
	}
	.text-discription-second {
		font-weight: 500;
	}
}
