.lang-HU [data-translate="titelPath1"],
.lang-HU [data-translate="titelPath2"],
.lang-CZ [data-translate="titelPath1"],
.lang-CZ [data-translate="titelPath2"],
.lang-HU [data-translate="modalTitlePath1"],
.lang-HU [data-translate="modalTitlePath2"],
.lang-HU [data-translate="modalTitlePath3"],
.lang-CZ [data-translate="modalTitlePath1"],
.lang-CZ [data-translate="modalTitlePath2"],
.lang-CZ [data-translate="modalTitlePath3"],
.lang-CZ [data-translate="discriptionPath1"],
.lang-CZ [data-translate="discriptionPath3"],
.lang-RU [data-translate="discriptionPath1"],
.lang-RU [data-translate="discriptionPath3"],
.lang-CA [data-translate="titelPath1"],
.lang-CA [data-translate="titelPath2"],
.lang-CA [data-translate="modalTitlePath1"],
.lang-CA [data-translate="modalTitlePath2"],
.lang-CA [data-translate="modalTitlePath3"] {
	line-height: 1.2;
}

@media screen and (max-width: 1023px) {
	.lang-CA [data-translate="discriptionPath1"] {
		font-size:/* 22px */5.64vw;
	}
}
