.lang-HU [data-translate="titelPath1"],
.lang-HU [data-translate="titelPath2"],
.lang-CZ [data-translate="titelPath1"],
.lang-CZ [data-translate="titelPath2"],
.lang-HU [data-translate="modalTitlePath1"],
.lang-HU [data-translate="modalTitlePath2"],
.lang-HU [data-translate="modalTitlePath3"],
.lang-CZ [data-translate="modalTitlePath1"],
.lang-CZ [data-translate="modalTitlePath2"],
.lang-CZ [data-translate="modalTitlePath3"],
.lang-CA [data-translate="titelPath1"],
.lang-CA [data-translate="titelPath2"],
.lang-CA [data-translate="modalTitlePath1"],
.lang-CA [data-translate="modalTitlePath2"],
.lang-CA [data-translate="modalTitlePath3"] {
	line-height: 1.2;
}

@media screen and (max-width: 1023px) {
	.lang-PT [data-translate="titelPath1"],
	.lang-CZ [data-translate="titelPath1"],
	
	.lang-CA [data-translate="titelPath1"] {
		font-size:/* 24px */ 6.15vw;
	}
.lang-RU [data-translate="titelPath1"] {
	font-size: /* 20px */5.12vw;
}
	.lang-PT [data-translate="titelPath2"],
	.lang-CZ [data-translate="titelPath2"],
	.lang-RU [data-translate="titelPath2"] {
		font-size:/* 18px */4.61vw;
	}
	.lang-CA [data-translate="titelPath2"] {
		font-size:/* 16px */4.10vw;
	}
	.lang-HU [data-translate="discriptionPath1"] {
		font-size:/* 22px */5.64vw;
	}
}
